<html>
<head>
	<title>History&mdash;Intraspect</title>
	<link href="/css/main.css" rel="stylesheet">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	 <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	 <link href="https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i,700,700i" rel="stylesheet">
	 <link rel="stylesheet" href="/css/canine.css">
	 <style type="text/css">
	 	.card .card-action {
	 		padding: 16px 4px;
	 		display: flex;
	 		justify-content: space-around;
	 		/*overflow: auto;*/
	 	}

	 	.card {
	 		/*overflow: auto;*/
	 	}
	 </style>
                    <!-- Global site tag (gtag.js) - Google Analytics -->
                    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115426144-1"></script>
                    <script>
                        window.dataLayer = window.dataLayer || [];
                        function gtag(){dataLayer.push(arguments);}
                        gtag('js', new Date());

                        gtag('config', 'UA-115426144-1');
                    </script>
</head>
	<body>
		<nav>
   <div class="nav-wrapper">
	 <a href="/homepage" class="brand-logo">Intraspect</a>
	 <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	 <ul class="right hide-on-med-and-down">
		 <li><a href="/homepage">Home</a></li>
	     <li><a href="/history">History</a></li>
	     <li><a href="/preferences">Preferences</a></li>
	     <li><a href="/settings">Settings</a></li>
	   </ul>
	   <ul class="side-nav" id="mobile-demo">
	     <li><a href="/homepage">Home</a></li>
	     <li><a href="/history">History</a></li>
	     <li><a href="/preferences">Preferences</a></li>
	     <li><a href="/settings">Settings</a></li>
	 </ul>
   </div>
 </nav>

	<div class="container">
		 <p class="flow-text center intro-text">History</p>

		<div class="row">
			{{#each user.local.activities.0.log}}
			<div class="col s6">
				<div class="card">
				    <div class="card-image waves-effect waves-block waves-light">
				      <img class="activator" src="https://lorempixel.com/100/100/nature/5">
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">{{user.local.activities.0.name}}<i class="material-icons right">more_vert</i></span>
				      <div class="card-action card-action--dual">
					 <span><i class="material-icons">filter_tilt_shift</i>7</span>
					<span><i class="material-icons">access_time</i>{{log_time}}</span>

				   </div>
				   {{#each user.local.tags}}
				   <div class="card-action card-action--mono">
				   	<div class="chip">{{this}}</div>
				   </div>
				   {{/each}}
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-4">{{user.local.activities.0.name}}<i class="material-icons right">close</i></span>
				      <p>{{comments}}</p>
				    </div>
				  </div>
		   	</div>
		   	{{/each}}




		</div>


</div>

		<script type="text/javascript">
			$( document ).ready(function(){

				$(".button-collapse").sideNav();
			});
		</script>
	</body>
</html>
