<html>
<head>
	<title>Home&mdash;Intraspect</title>
	<link href="/css/main.css" rel="stylesheet">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	 <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	 <script src="../js/homepage.js"></script>
	 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	 <link href="https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i,700,700i" rel="stylesheet">
	 <link rel="stylesheet" href="/css/canine.css">
                    <!-- Global site tag (gtag.js) - Google Analytics -->
                    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115426144-1"></script>
                    <script>
                        window.dataLayer = window.dataLayer || [];
                        function gtag(){dataLayer.push(arguments);}
                        gtag('js', new Date());

                        gtag('config', 'UA-115426144-1');
                    </script>
</head>
	<body>

		<nav>
   	<div class="nav-wrapper">
	 <a href="/homepage" class="brand-logo">Intraspect</a>
	 <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	 <ul class="right hide-on-med-and-down">
	   <li><a href="/homepage">Home</a></li>
	   <li><a href="/history">History</a></li>
	   <li><a href="/preferences">Preferences</a></li>
	   <li><a href="/profile">Profile</a></li>
	 </ul>
	 <ul class="side-nav" id="mobile-demo">
	   <li><a href="/homepage">Home</a></li>
	   <li><a href="/history">History</a></li>
	   <li><a href="/preferences">Preferences</a></li>
	   <li><a href="/profile">Profile</a></li>
	 </ul>
   </div>
 </nav>

 <div class="container">

	 <p class="flow-text center intro-text">Create Log</p>
	 <p class="flow-text center welcome-text">Share how you're feeling.</p>

		<form id="mainform" action="/addlog" method="post" class="form--log">


				<p class="input-field"><br>
					<select name="curAct">
						{{#each user.local.activities}}
				      		<option name='currAct' value="{{@index}}">{{name}}</option>
				 		{{/each}}
				    </select>
				    <label>Hey there! Just got done with?</label>

				</p>


			<!-- <form action="/addact" method="post" class="form-activity"> -->
				<div class="activity-container">
					<input type="text" class="new-activity-name" name="newAct" placeholder="Don&rsquo;t see your activity here? Add new." style="width:80%;"/>

					<button class="btn-floating btn-small waves-effect waves-light red" id="add-activity" formaction="/addact"><i class="material-icons">add</i></button>
				</div>

			<!-- </form> -->

			<br>

				<label for="score" class="big-label">On a scale of 1-10, how happy did it make you feel?</label>
				<p class="range-field">
		      	<input type="range" id="test5" min="1" max="10" name="score"/>

		    </p>

			<!-- <hr> -->
			<textarea name="reason" class="materialize-textarea big-label" placeholder="I feel this way because..."></textarea>
			<br>

				<p class="big-label">Add Tags:</p>
				{{#each user.local.tags}}
				<input type="checkbox" class="filled-in" id="filled-in-box{{@index}}" />
		        <label class="check-label" for="filled-in-box{{@index}}" class="check-label">
					<span class="check-label">{{this}}</span>
				</label>

				{{/each}}

				<span id="newtags">

				</span>

				<br><br>

				<!-- <a href="#" id="new-tag">+ Create New Tag</a> -->
				<!-- <form action="/addtag" method="post"> -->
					<div class="activity-container">
						<input type="text" name="newTag" placeholder="Don&rsquo;t see a tag you need? Add new." style="width:80%;"/>
						<button class="btn-floating btn-small waves-effect waves-light red" type="submit" value="+ Create New Tag" formaction="/addtag" />
							<i class="material-icons">add</i>
						</button>
					</div>

				<!-- </form> -->
				<!-- <a href="#" class="waves-effect waves-light btn-flat" id="new-tag"><i class="material-icons left">add</i>Create New Tag</a> -->

			<br>
			<br>

			<center>
				<button class="btn-large grey darken-4 waves-effect waves-light" >Submit Log</button>
			</center>
		</form>
	</div>
	</body>
</html>
