<html>
<head>
	<title>Profile&mdash;Intraspect</title>
	<link href="/css/main.css" rel="stylesheet">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	 <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
	<body>

		<nav>
   <div class="nav-wrapper">
	 <a href="/homepage" class="brand-logo">Intraspect</a>
	 <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	 <ul class="right hide-on-med-and-down">
	   <li><a href="/homepage">Home</a></li>
	   <li><a href="/history">History</a></li>
	   <li><a href="/preferences">Preferences</a></li>
	   <li><a href="/profile">Profile</a></li>
	 </ul>
	 <ul class="side-nav" id="mobile-demo">
	   <li><a href="/homepage">Home</a></li>
	   <li><a href="/history">History</a></li>
	   <li><a href="/preferences">Preferences</a></li>
	   <li><a href="/profile">Profile</a></li>
	 </ul>
   </div>
 </nav>

 <div class="container">
 	<div class="img-container">
 		<img class="user__img responsive-img circle z-depth-3" src="https://s3.amazonaws.com/uifaces/faces/twitter/jadlimcaco/128.jpg" alt="">
 	</div>
 		<h3 class="user__name center">Jane Doe</h1>
 		<p class="center flow-text user__username">@{{ user.local.email  }}</p>

		<div class="card">
		    <div class="card-content">
		      <p class="flow-text">Hey {{ user.local.email  }}! Welcome back to Intraspect!</p>
		    </div>
		    <div class="card-tabs">
		      <ul class="tabs tabs-fixed-width">
		        <li class="tab"><a href="#test4">Average Score</a></li>
		        <li class="tab"><a href="#test5">Analysis</a></li>

		        <li class="tab"><a href="#test6">Recommendations</a></li>
		      </ul>
		    </div>
		    <div class="card-content grey lighten-4">
			<div id="test4">
			  <p class="flow-text center">
				  <small>Your Average Score is:</small>
			  </p>
			  <h1 class="center">
				  7
			  </h1>
		  </div>
			  <div id="test5">
				  <center>
				  	<img src="/img/graph.png" class="responsive-img" alt="">
				  </center>
			  </div>
		      <div id="test6">
				  <p class="flow-text">Yoga has had a positive impact on your happiness on an average. Maybe you want to try to similar activites like Meditation or Running as well?</p>
			  </div>
		    </div>
		  </div>

		  <!-- Managing Activities -->

		  <!-- <ul class="collapsible" data-collapsible="accordion">
	  		{{#each user.local.activities}}
	      <li>
	        <div class="collapsible-header"><i class="material-icons">wb_sunny</i>{{name}}</div>
	        <div class="collapsible-body"><span>
	  		  	<form class="">
	  					<div class="input-field">
	  						<i class="material-icons prefix">access_time</i>
	  						<input type="text" id="time" class="timepicker" placeholder="Pick Time">
	  					</div>

	  					<p class="flow-text">Select Days of the Week:</p>

	  					<input type="checkbox" class="filled-in" id="filled-in-box" />
	  			        <label class="check-label" for="filled-in-box">Monday</label>

	  					<input type="checkbox" class="filled-in" id="filled-in-box2" />
	  			        <label class="check-label" for="filled-in-box2">Tuesday</label>

	  					<input type="checkbox" class="filled-in" id="filled-in-box3" />
	  			        <label class="check-label" for="filled-in-box3">Wednesday</label>

	  					<input type="checkbox" class="filled-in" id="filled-in-box4" />
	  			        <label class="check-label" for="filled-in-box4">Thursday</label>
	  					<input type="checkbox" class="filled-in" id="filled-in-box5" />
	  			        <label class="check-label" for="filled-in-box5">Friday</label>

	  					<input type="checkbox" class="filled-in" id="filled-in-box6" />
	  			        <label class="check-label" for="filled-in-box6">Saturday</label>

	  					<input type="checkbox" class="filled-in" id="filled-in-box7" />
	  			        <label class="check-label" for="filled-in-box7">Sunday</label>

	  					<br><br>

	  					 <div class="switch">Notifications &nbsp;&nbsp;&nbsp;&nbsp;
	  					   <label>
	  						 Off
	  						 <input type="checkbox">
	  						 <span class="lever"></span>
	  						 On
	  					   </label>
	  					 </div>
	  		  	</form>



	  	  </span></div>
	      </li>
	      {{/each}}




	    </ul>
	    <div class="wrapper">

	    </div> -->

	    <!-- <ul class="popout collapsible" data-collapsible="accordion">
	     <li>
	  	 <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
	  	 <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
	     </li>
	     <li>
	  	 <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
	  	 <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
	     </li>
	     <li>
	  	 <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
	  	 <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
	     </li>
	   </ul> -->

	  </div>

	  <div class="fixed-action-btn">
	      <a class="btn-floating btn-large red" id="add-activity">
	        <i class="large material-icons">add</i>
	      </a>
	      <ul>
	        <!-- <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
	        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
	        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
	        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li> -->
	      </ul>
	    </div>

	</div>


		<script type="text/javascript">
			$( document ).ready(function(){
				$('select').material_select();

				$(".button-collapse").sideNav();

				$("#new-tag").click(function(){
					var newTag = prompt("Add a new tag:");
					$('#newtags').append("<input type=\"checkbox\" class=\"filled-in\" id=\"filled-in-box6\" /><label class=\"check-label\" for=\"filled-in-box6\">" + newTag + "</label>");
				});

				// $('#add-activity').click(function(){
				// 	var newActivity = prompt("Add new Activity:");
				// });

				$('#add-activity').click(function(){
					// var newActivity = prompt("Add new Activity:");
					console.log("Add activity button clicked!");


					var line1 = $('<ul class="new-activity-collapsible collapsible" data-collapsible="accordion">' +
						'<li>' +
      '<div class="collapsible-header"><i class="material-icons">flare</i>' +
	  	'<input placeholder="New Activity Name" id="new_activity" type="text" class="validate" />' +
	  '</div>' +
      '<div class="collapsible-body"><span>' +
		  	'<form class="">' +
					'<div class="input-field">' +
						'<i class="material-icons prefix">access_time</i>' +
						'<input type="text" id="time" class="timepicker" placeholder="Pick Time">' +
					'</div>' +

					'<p class="flow-text">Select Days of the Week:</p>' +

					'<input type="checkbox" class="filled-in" id="filled-in-box" />' +
			        '<label class="check-label" for="filled-in-box">Monday</label>' +

					'<input type="checkbox" class="filled-in" id="filled-in-box2" />' +
			        '<label class="check-label" for="filled-in-box2">Tuesday</label>' +

					'<input type="checkbox" class="filled-in" id="filled-in-box3" />' +
			        '<label class="check-label" for="filled-in-box3">Wednesday</label>' +

					'<input type="checkbox" class="filled-in" id="filled-in-box4" />' +
			        '<label class="check-label" for="filled-in-box4">Thursday</label>' +

					'<input type="checkbox" class="filled-in" id="filled-in-box5" />' +
			        '<label class="check-label" for="filled-in-box5">Friday</label>' +

					'<input type="checkbox" class="filled-in" id="filled-in-box6" />' +
			        '<label class="check-label" for="filled-in-box6">Saturday</label>' +

					'<input type="checkbox" class="filled-in" id="filled-in-box7" />' +
			        '<label class="check-label" for="filled-in-box7">Sunday</label>' +

					'<br><br>' +

					 '<div class="switch">Notifications &nbsp;&nbsp;&nbsp;&nbsp;' +
					   '<label>' +
						 'Off' +
						 '<input type="checkbox">' +
						 '<span class="lever"></span>' +
						 'On' +
					   '</label>' +
					 '</div>' +
		  	'</form></span></div>' +
    '</li></ul>').appendTo('.wrapper');
	$('.new-activity-collapsible').collapsible();


					// $('.collapsible').append(line1 + line2 + line3 + line4 + line5 + line6 + line7 + line8 + line9 + line10 + line11 + line1a2 + line13 + line14 + line15 + line16 + line17 + line18 + line19 + line20 + line21 + line22 + line23 + line24 + line25 + line26);
					$('.collapsible').collapsible();



				});

				$('.collapsible').collapsible();

				$('.timepicker').pickatime({
					default: 'now', // Set default time: 'now', '1:30AM', '16:30'
					fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
					twelvehour: true, // Use AM/PM or 24-hour format
					donetext: 'OK', // text for done-button
					cleartext: 'Clear', // text for clear-button
					canceltext: 'Cancel', // Text for cancel-button
					autoclose: false, // automatic close timepicker
					ampmclickable: true, // make AM PM clickable
					aftershow: function(){} //Function for after opening timepicker
				});

			});


		</script>

	</body>
</html>

<!-- RIBHU'S CODE -->
              <!--       <p>
                        <strong>id</strong>: {{user._id }}<br>
                        <strong>email</strong>: {{ user.local.email  }}<br>
                        <strong>password</strong>: {{ user.local.password  }}
                    </p>

            </div>
        </div> -->
